html, body {
  height:100%;
  margin: 0;
}

.topnavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  background-color: #555555;
  padding: 5px 0 5px 10px;
  color: #CCCCCC;
}

.NavLink {
  text-decoration: none;
}

.NavLink:visited {
  color: inherit;
  text-decoration: none;
}

.topnavbar__left:hover {
  color: #FFFFFF;
}

.topnavbar__right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.topnavbar__right .right {
  margin: 5px 10px 5px 10px;
  color: #FFFFFF;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  text-decoration: none;
  background-color: inherit;
  border: none;
}

.right__Logout {
  cursor: pointer;
}

.botnavbar {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EEEEEE;
  border-bottom: 1px solid #CCCCCC;
  padding: 8px 20px;
}

.botnavbar__left {
  display: flex;
  align-items: center;
}

.botnav__logo {
  height: 72px;
  margin-right: 6px;
}

.branding {
  display: flex;
  align-items: center;
  font-family: "myriad-pro",Helvetica,Arial,sans-serif;
  min-width: 200;
  font-size: 22px;
  font-weight: 700;
  margin-right: 20px;
}

.NavBtn {
  text-align: center;
  position: relative;
  margin: 0 5px;
  background-color: #FFFFFF;
  border-color: #CCCCCC;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 6px 12px;
  margin: 0 5px;
  font-size: 14px;
  color: #333;
}
