.article__header {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.header__posted {
 text-align: left;
}

.project__thumb {
  text-align: center;
  margin-bottom: 30px;
}

.content > section {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.header__title {
  word-break: break-all;
}

.step__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
  word-break: break-all;
}

.project__image {
  border-radius: 4px;
}

.step__image__wrapper{
  text-align: center;
  margin: 20px 0;
}

.step__body {
  font-family: 'myriad-pro', helvetica, arial, sans-serif;
  white-space: pre-line;
  font-size: 20px;
  line-height: 1.65;
  color: #555;
  text-align: left;
  word-wrap: break-word;
}

.step__divider {
  width: 100px;
  border-bottom: 1px solid #D6D6D6;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.editable {
  position: fixed;
  bottom: 0;
  right: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #ccc;
}

.btn {
  margin: 15px;
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
}

.edit-btn {
  background-color: #fff;
}

.dele-btn {
  background-color: crimson;
}
